@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-image: url("Img/Snow.jpg");
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    min-width: 80%;
}
.title{
    font-size: 60px;
    border-radius: 20px;
    padding: 10px;
    /* mix-blend-mode:overlay; */
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 2px rgba(0, 0, 0, 0.466);
    backdrop-filter:blur(10px);
    background-color: rgba(0, 0, 0, 0.363);
}
.cell {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 150px;
    align-items: center;
    justify-content: center;
    margin:20px;
    text-align: center;

    border-radius: 20px;
    padding: 10px;
    /* mix-blend-mode:overlay; */
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.466);
    backdrop-filter:blur(10px);
    background-color: rgba(0, 0, 0, 0.363);
}
.big-text{
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}
.bold{
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.dark{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}